/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Making things visible */

/*body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}*/

/* Base */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 45em;
	padding: 0 0.9375em;
}

/* Header */

header {
	background-color: #fff;
	border-bottom: 1px solid #DDD;
	position: fixed;
	width: 100%;
}

.logo {
	display: inline-block;
	float: left;
	height: 2.5em;
	margin: 0.9375em 0;
}

.main-nav__list {
    display: inline-block;
    float: right;
    margin: 1.6875em 0;
    vertical-align: top;
}

.main-nav__item {
    display: inline-block;
    margin-left: 1.25em;
}

.main-nav__item a {
	text-decoration: none;
	color: #838994;
}

.main-nav__item a:hover {
	color: #333333;
}

.main-nav__item.active a {
	color: #4c5058;
	font-weight: bold;
}