/* INDEX 
----------------------------------------------*/

/* 	- Reset CSS
	- Making things visible
	- Base
	- Layout
	- Buttons
	- Header
	- Presentation section
	- Features section
	- Footer

-------------------------------------------------- */




/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Making things visible */

/*body {
    background-color: LightGray;
}
div, section {
    border: 1px solid Chocolate;
}*/

/* Base */

* {
	box-sizing: border-box;
}

body {
	color: #1d1e21;
	font-family: 'Roboto', sans-serif;
}

/* Layout */

.container {
	margin: 0 auto;
	max-width: 50em;
	padding: 0 0.9375em;
	width: 60%;
}

.col3 {
	/*width: 33.3333%;
	float: left;*/
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Buttons */

.big-button {
    background-color: #f15a29;
    border: none;
    border-radius: 0.25em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    margin-top: 1.125em;
    padding: 1em 1.5em;
    text-shadow: none;
}

.big-button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

/* Header */

header {
	background-color: #fff;
	border-bottom: 1px solid #DDD;
	height: 4.375em;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.logo {
	display: inline-block;
	float: left;
	height: 2.5em;
	margin: 0.9375em 0;
}

.main-nav__list {
    display: inline-block;
    float: right;
    margin: 1.6875em 0;
    vertical-align: top;
}

.main-nav__item {
    display: inline-block;
    margin-left: 1.25em;
}

.main-nav__item a {
	text-decoration: none;
	color: #838994;
}

.main-nav__item a:hover {
	color: #333333;
}

.main-nav__item.active a {
	color: #4c5058;
	font-weight: bold;
}

/* Presentation section */

.presentation {
	background: url(../images/bg-image.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	min-height: 28.125em;
	padding-top: 4.375em;
	text-align: center;
}

.presentation__header {
	font-size: 3.125em;
	margin-top: 30vh;
}

.presentation__subheader {
	font-size: 1.563em;
	margin-top: 1em;
}

.presentation__header,
.presentation__subheader {
	color: #fff;
	font-weight: 300;
}

/* Features section */

.features {
padding: 8.5em 0;
}

.features__title {
	font-size: 2.75em;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: center;
}

.feature-box {
    padding: 0.625em;
    text-align: center;
}

img.feature-box__icon {
    margin: 0 20%;
    width: 60%;
}

p.feature-box__description {
    font-size: 1.563rem;
    margin: 1.5em 0 0;
}

/* Footer */

footer {
	text-align: center;
	margin-bottom: 8.5em;
}

.social {
	border-top: 1px solid #eaebec;
	padding-top: 2.5em;
}

.social__title {
	color: #000;
}

.social__link {
	display: inline-block;
	margin: 1.8em 1.25em;
}

.social__icon {
 width: 2.5em; 
 height: 2.5em; 
 border-radius: 1.25em; 
 text-align: center; 
 padding-top: 0.625em; 
 border: 1px solid #eaebec; 
}

.fa-twitter {
	color: #55acee;
}

.fa-facebook {
color: #4c66a4;
}

.fa-instagram {
color: #3f729b;
}

.copy {
font-size: 0.9em;
font-weight: 300;
color: #838994;
}
